* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.nav {
  background: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  padding: 16px;
}

.logo {
  font-size: 22px;
  font-weight: 500;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.url-input-wrapper {
  max-width: 700px;
}

.url-input-wrapper input {
  min-width: 350px;
  height: 30px;
}

.url-input-wrapper button {
  height: 30px;
}